@import "./theme.css";
@import "./moving-dots.css";

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}


html {
  width: 100%;

  scroll-behavior: smooth;
}


body {
  width: 100%;
  min-width: 320px;
  min-height: 100vh;

  margin: 0;

  overflow-x: hidden;

  font-family: var(--font-family-base);

  background: var(--color-background);

  color: var(--color-text);
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-heading);
}

button,
a,
input,
textarea,
select {
  font-family: inherit;
}


img {
  max-width: 100%;
}


a {
  color: inherit;
}
